@mixin icon ($code) {

    &:before {
        font-family: fontawesome;
        content: $code + " ";
        font-style: normal;
        font-weight: normal;
    }
}

@mixin icon-after ($code) {

    &:after {
        font-family: fontawesome;
        content: " " + $code;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2em;
    }
}
