.event-details-header {
    background-color: $blue;
    margin-bottom: 1em;
}

.event-detail-photo {
    height:4.3em;
    margin: 0.5em auto;
}

.event-detail-text-container {
}

.event-detail-text {
    text-align: center;
    margin: 0 auto;
    padding: 0.4em 0;
    color: $white;
}

.event-detail-text-title {
    font-size: 1.2em;
    font-weight: bolder;
    color: $white;
    text-align: center;
    margin: 0 auto;
    padding: 0.4em 0;

}
