.filter {

    text-align: center;
    line-height: 2.3em;
    border: 1px solid $blue;
    color: $blue;
    background-color: $white;

    &.selected {
        background-color: $blue;
        color: $white;
    }

    &:nth-child(1) {
        border-radius: 10px 0 0 10px;
    }

    &:nth-child(3) {
        border-radius: 0 10px 10px 0;
    }
}

.filter-panel {
    margin-bottom: 1.5em;
}
