.profile-page-photo {
    width: 10em;
    margin: 0.5em auto;
}

.profile-page {
    text-align: center;
}

.user-name, {
    margin: 0.2em 0;
    color: $grey;
}

.logout-button {
    margin: 1em 0;
    color: $grey;
}

.edit-name-title {
    margin: 0.2em auto;
    text-align: left;
    font-size: 1.2em;
    font-weight: 400;
    color: $grey;
}
