.event-header {
    background: url('https://cloud.githubusercontent.com/assets/8915092/16302838/3d8415b8-3945-11e6-9715-f0925cd3bbc6.png') top right no-repeat;
    background-size: cover;
    // background: linear-gradient(135deg, $magenta, $lime);
    height: 4.5em;
}

.login-event-header {
    background: url('https://cloud.githubusercontent.com/assets/8915092/16302838/3d8415b8-3945-11e6-9715-f0925cd3bbc6.png') top right no-repeat;
    background-size: cover;
    height: 10.5em;
}

.back-button, .cancel-event-button {
    color: $black;
    font-weight: bolder;
    text-align: center;
    padding: 0.5em 0em 2.5em 0;
    margin-bottom: 0;
}

// .container {
//     position: relative;
//     bottom: 7em;
// }
