.invited-title {
    font-size: 1.1em;
    margin:0.2em 0;
}

.invited-friends {
    color: $dark-grey !important;
}

// .confirm-new-event {
//     .confirm-what {
//         margin: 0.2em 0;
//         color: $what;
//     }
//     .what-option {
//         color: $what;
//         border: 1px solid $what;
//         line-height: 1.5em;
//         border-radius: 30px;
//         margin-bottom: 10px;
//         padding: 6px 0.9em;
//         text-align: left;
//     }
//
//     .confirm-where {
//         margin: 0.2em 0;
//         color: $where;
//     }
//     .where-option {
//         color: $where;
//         border: 1px solid $where;
//         line-height: 1.5em;
//         border-radius: 30px;
//         margin-bottom: 10px;
//         padding: 6px 0.9em;
//         text-align: left;
//     }
//
//     .confirm-when {
//         margin: 0.2em 0;
//         color: $when;
//     }
//     .when-option {
//         color: $when;
//         border: 1px solid $when;
//         line-height: 1.5em;
//         border-radius: 30px;
//         margin-bottom: 10px;
//         padding: 6px 0.9em;
//         text-align: left;
//     }
// }
