$blue: #316ab3; //approved

$what: #424fa1; // correct
$where: #7d3e98; //triple check
$when: #f58220; //approved

$grey: #939598; //approved (text)
$white: #ffffff;
$dark-grey: #6d6371; //approved
$black: #000000;


$confirm: #8dc744;
$going: #8dc744;
$maybe: #f58220;
$not-going: #e02228;


/* our colours */

// $grey: #e6e7e9;
$off-black: #303030;
$magenta: #963779;
$lime: #C8BE47;
$facebook-blue: #3b5998;
$red: #FF4136;
$logout: #D43434;
$light-grey: #e1e4e7;
